.idea
.DS_Store
dist
#vim swap files
*.swp
#node/npm
./node_modules/*
node_modules
npm-debug.log
#bower
bower_components
./bower_components/*
docs/bower_components
./docs/bower_components/*
coverage/*
coverage
