body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}
/* Foundation-based Header */
.dash-docs-search {
  margin: 0px;
  width: 440px;
}
.dash-docs-search input[type="text"] {
  height: 29px;
}
.dash-repo-button {
  height: 20px;
  width: 20px;
  margin: 0 0 5px 0;
}
/* Angular-based Application */
.dash-app-docs-content {
  margin: 20px 0 20px 0;
}
ul.dash-document-navigation {
  margin: 0 0 10px 0;
}
ul.dash-document-navigation ul {
  margin: 0 0 0 10px;
}
ul.dash-document-navigation ul li {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
ul.dash-document-navigation ul ul {
  margin: 0 0 0 20px;
}
ul.dash-document-navigation ul ul li {
  margin: 0;
  padding: 0 0 0 0;
  list-style-type: none;
}
.dash-app-docs-sidebar-container {
  padding: 10px;
}
.dash-app-docs-sidebar-container > ul > li {
  font-weight: bold;
  margin: 0 0 10px -10px;
  padding: 0;
  font-size: 22px;
  list-style-type: none;
}
