body {
  height: 100%;
  width: 100%;
}
body > div {
  height: 100%;
  margin-top: -45px;
}
.top-bar .name h1 {
  font-size: 32px !important;
}
/* Foundation-based Header */
.dash-docs-search {
  margin: 0px;
  width: 440px;
}
.dash-docs-search input[type="text"] {
  height: 29px;
}
.dash-repo-button {
  height: 20px;
  width: 20px;
  margin: 0 0 5px 0;
}
/* Angular-based Application */
.dash-app-docs-demos .dash-app-docs-demos-demo {
  padding: 10px 0 0 0;
}
.dash-app-docs-content {
  margin: 10px 0 10px 0;
}
ul.dash-document-navigation {
  margin: 0 0 10px 0;
}
ul.dash-document-navigation ul {
  margin: 0 0 0 10px;
}
ul.dash-document-navigation ul li {
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  list-style-type: square;
}
ul.dash-document-navigation ul ul {
  margin: 0 0 0 10px;
}
ul.dash-document-navigation ul ul li {
  margin: 0 0 0 10px;
  padding: 0 0 0 0;
  list-style-type: circle;
}
.dash-app-docs-sidebar-container > ul > li {
  font-weight: bold;
  margin: 0 0 10px -10px;
  padding: 0;
  font-size: 22px;
  list-style-type: none;
}
#dash-splash-outer {
  width: 100%;
  height: 100%;
  z-index: 3;
}
#dash-splash-outer #dash-splash {
  width: 100%;
  height: 100%;
}
#dash-splash-outer #dash-splash #dash-splash-container {
  width: 100%;
  height: 100%;
}
#dash-splash-outer #dash-splash #dash-splash-container canvas {
  width: 100%;
  height: 100%;
}
#dash-splash-overlay {
  z-index: 2;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 45px;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#dash-splash-overlay #dash-splash-container {
  width: 100%;
  height: 100%;
}
#dash-demo-overlay-marketing h1 {
  float: right;
  background: #333;
  color: #fff;
  padding: 20px;
  margin: 10px 0 10px 0;
}
#dash-demo-overlay-marketing h2 {
  float: right;
  padding: 20px 20px 0px 20px;
  margin: 0;
  text-align: right;
  font-size: 20px;
  color: #333;
  background: #fff;
}
#dash-demo-overlay-marketing h2 select,
#dash-demo-overlay-marketing h2 input {
  width: inherit;
  display: inline;
  font-size: inherit;
  line-height: inherit;
  height: inherit;
}
#dash-demo-overlay-marketing h2 .dash-demo-overlay-marketing-button {
  margin-left: 10px;
}
